blinker==1.4
Flask-Babel == 0.12.2
Flask-Testing == 0.7.1
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pytest-cov==2.6.1
pytest==4.3.0
six==1.11.0
transifex-client == 0.13.6
Werkzeug==0.15.3
