blinker==1.4
cachelib==0.1.1
Flask-APScheduler==1.12.3
Flask-Babel==2.0.0
Flask-Testing==0.8.1
Flask==1.1.4
itsdangerous==1.1.0
Jinja2==2.11.3
markdown==3.3.6
MarkupSafe==1.1.1
mistune==2.0.2
pytest-cov==2.11.1
pytest==6.2.5
transifex-client==0.14.4
Werkzeug==1.0.1
