
#downloads
{
   padding: 0;
   margin-top: 35px;
   list-style: none;

   width: 100%;

   li.download-item
   {
      border-style: solid;
      border-width: 1px;
      border-color: #D9D9D9;
      margin-bottom: 25px;
      padding: 0 20px 10px 20px;
      background: none repeat scroll 0% 0% #F2F2F2;

      h3
      {
         font-size: 30px;
         i
         {
            vertical-align: -5px;
            padding-right: 10px;
         }
         span
         {
            font-size: 25px;
            color: lighten(#000, 50%)
         }
      }

      table
      {
         margin-top: 25px;

         background: none repeat scroll 0% 0% #FFF;
         border: 1px solid #DDD;

         td
         {
            vertical-align: middle;
         }

         .btn
         {
            color: #fff;
         }
      }
   }
}
