<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ _('Official website for MusicBrainz Picard, a cross-platform music tagger written in Python.') }}">
    <meta name="author" href="{{ url_for('humans.show_humans') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/picard-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}{% if page_title is defined %}{{page_title}} - {%endif%}{{ _('MusicBrainz Picard') }}{% endblock %}</title>
  </head>
  <body data-spy="scroll" data-target="#sidebar">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{{ _("Toggle navigation") }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('frontend.show_index') }}"><img src="{{ url_for('static', filename='img/picard-navbar-icon.svg') }}" alt="{{ _('MusicBrainz Picard') }}"></a>
        </div>
        <div class="navbar-collapse collapse">
          {% set active_page = active_page | default("index") -%}
          <ul class="nav navbar-nav">
            <li{% if active_page == 'downloads' %} class="active"{% endif %}><a href="{{ url_for('frontend.show_downloads') }}">{{ _("Downloads") }}</a></li>
            <li{% if active_page == 'plugins' %} class="active"{% endif %}><a href="{{ url_for('plugins.show_plugins') }}">{{ _("Plugins") }}</a></li>
            <li{% if active_page == 'quick_start' %} class="active"{% endif %}><a href="{{ url_for('frontend.show_quick_start') }}">{{ _("Quick-Start") }}</a></li>
            <li class="dropdown {% if active_page == 'docs' %}active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _("Documentation") }}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('docs.show_pages', page='basics') }}">{{ _("Basics") }}</a></li>
                <li><a href="{{ url_for('docs.show_pages', page='options') }}">{{ _("Options") }}</a></li>
                <li><a href="{{ url_for('docs.show_pages', page='faq') }}">{{ _("FAQ") }}</a></li>
                <li><a href="{{ url_for('docs.show_pages', page='troubleshooting') }}">{{ _("Troubleshooting") }}</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('docs.show_pages', page='scripting') }}">{{ _("Scripting") }}</a></li>
                <li><a href="{{ url_for('docs.show_pages', page='tags') }}">{{ _("Tags") }}</a></li>
                <li><a href="{{ url_for('docs.show_pages', page='mappings') }}">{{ _("Tag Mappings") }}</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('docs.show_pages', page='development') }}">{{ _("Development") }}</a></li>
                <li><a href="{{ url_for('docs.show_pages', page='plugin-api') }}">{{ _("Plugins API") }}</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('docs.show_pages', page='linux') }}">{{ _("Installation on Linux") }}</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {%- block content_header %}
    {% if page_title is defined %}
    <div class="jumbotron">
      <div class="container">
        <h1>{{ page_title }}</h1>
      </div>
    </div>
    {%endif%}
    {% endblock -%}
    {%- block content %}
    {% endblock -%}
    <div class="clearfix"></div>

    {% block footer %}
    <hr />
    <div class="footer clearfix">
      <ul class="list-inline pull-left">
        <li><a href="http://blog.musicbrainz.org/">{{ _("MusicBrainz Blog") }}</a></li>
        <li><a href="https://community.metabrainz.org/c/picard">{{ _("Picard Forum") }}</a></li>
      </ul>
      <div id="language-selector" class="btn-group dropup pull-right">
        <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
          {{ _('Language') }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          {% for language in config.LANGUAGES|dictsort(false, 'value') %}
            <li><a href="?l={{ language[0] }}">{{ language[1]|capitalize }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endblock %}

    {%- block scripts %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.timeago.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock -%}
  </body>
</html>
