<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MusicBrainz Picard's Website">
    <meta name="author" href="humans.txt">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/picard-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}MusicBrainz Picard{% endblock %}</title>
  </head>
  <body data-spy="scroll" data-target="#sidebar">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MusicBrainz Picard</a>
        </div>
        <div class="navbar-collapse collapse">
          {% set active_page = active_page | default("index") -%}
          <ul class="nav navbar-nav">
            <li{% if active_page == 'downloads' %} class="active"{% endif %}><a href="/downloads/">Downloads</a></li>
            <li{% if active_page == 'plugins' %} class="active"{% endif %}><a href="/plugins/">Plugins</a></li>
            <li class="dropdown {% if active_page == 'docs' %}active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/docs/basics/">Basics</a></li>
                <li><a href="/docs/guide/">How to tag files</a></li>
                <li><a href="/docs/options/">Options</a></li>
                <li><a href="/docs/faq/">FAQ</a></li>
                <li><a href="/docs/troubleshooting/">Troubleshooting</a></li>
                <li class="divider"></li>
                <li><a href="/docs/scripting/">Scripting</a></li>
                <li><a href="/docs/tags/">Tags</a></li>
                <li><a href="/docs/mappings/">Tag Mappings</a></li>
                <li class="divider"></li>
                <li><a href="/docs/development/">Development</a></li>
                <li><a href="/docs/plugin-api/">Plugins API</a></li>
                <li class="divider"></li>
                <li><a href="/docs/linux/">Installation on Linux</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {%- block content %}
    {% endblock -%}
    {%- block footer %}
    <footer class="footer">
      <div class="container">
        <ul class="list-inline">
          <li><a href="http://blog.musicbrainz.org/">MusicBrainz Blog</a></li>
          <li><a href="http://forums.musicbrainz.org/viewforum.php?id=2">Picard Forum</a></li>
        </ul>
        {%- if git_doc %}
          <p>This page can be improved on <a href="https://github.com/musicbrainz/picard-website/blob/master/templates/docs/{{ git_doc }}">GitHub</a>.</p>
        {% endif %}
      </div>
    </footer>
    {% endblock -%}
    {%- block scripts %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
      // Used to number each line of the pre tags
      $(function (){
        $("pre").html(function (index, html) {
          return html.replace(/^(.*)$/mg, "<span class=\"line\">$1</span>")
        });
      });
    </script>
    {% endblock -%}
  </body>
</html>
