    <footer class="footer">
      <div class="container">
        <ul class="github-stats-buttons">
          <li>
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=musicbrainz&repo=picard&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
          </li>
          <li>
            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=musicbrainz&repo=picard&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
          </li>
        </ul>

        <ul class="list-inline">
          <li><a href="#about">About</a></li>
          <li><a href="http://blog.musicbrainz.org/">MusicBrainz Blog</a></li>
          <li><a href="http://forums.musicbrainz.org/viewforum.php?id=2">Picard Forum</a></li>
        </ul>
      </div>
    </footer>

    <!-- Scripts go at the end to reduce loading time -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
