{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron masthead">
      <div class="container">
        <h1>
        <img class="picard-icon" src="{{ url_for('static', filename='img/picard-icon.png') }}" alt="Picard Screenshot">
          MusicBrainz Picard
        </h1>
        <p>
          Picard is a cross-platform music tagger written in Python.
        </p>

        <a id="download-btn" href="/downloads/" class="btn download-btn btn-primary btn-large">
          <i class="fa fa-download"></i>
          <span class="download-title">
            Download Picard
          </span>
        </a>

        <ul class="masthead-links">
          <li>
            <a href="/changelog/">What's New</a>
          </li>
          <li>
            <a href="/downloads/">Other Downloads</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="features">
        <div class="row">
          <div class="col-md-4">
            <div class="col-md-10 col-md-offset-1">
              <i class="features-img fa fa-file-audio-o fa-5x"></i>
              <h2>Multiple formats</h2>
              <p>Picard supports all popular music formats like mp3, flac, ogg, m4a, wma, wav and a lot of others.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="col-md-10 col-md-offset-1">
              <i class="features-img fa fa-music fa-5x"></i>
              <h2>AcoustID</h2>
              <p>It uses <a href="http://acoustid.org/">AcoustID</a> audio fingerprints, allowing a song to be identified by the actual music, so it can be matched even if you have no metadata.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="col-md-10 col-md-offset-1">
              <i class="fa fa-circle-o fa-5x"></i>
              <h2>CD Lookups</h2>
              <p>Picard can lookup entire music CDs with a click.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-1">
            <div class="col-md-10 col-md-offset-3">
            <i class="fa fa-github fa-5x"></i>
            <h2>Opensource</h2>
            <p>Picard is licensed under <a href="http://www.gnu.org/copyleft/gpl.html">GPL 2.0 or later</a> and is hosted on <a href="https://github.com/musicbrainz/picard">Github</a> where it is actively developed by some awesome developers.</p>
            </div>
          </div>

          <div class="col-md-4 col-md-offset-1">
            <div class="col-md-10 col-md-offset-1">
            <i class="fa fa-gear fa-5x"></i>
            <h2>Plugin Support</h2>
            <p>If you need a particular feature, you can choose from hundreds of available plugins or can write your own ones in Python. Here is a list of <a href="/plugins/">available plugins</a></p>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- Container ends -->

    <script>
    (function ()
    {
      var downBtn = document.getElementById("download-btn");
      var uAgent = navigator.userAgent;
      var platform = navigator.platform;

      if (/^Win/.test(platform) || /Windows/.test(uAgent))
      {
        downBtn.href = 'http://ftp.musicbrainz.org/pub/musicbrainz/picard/picard-setup-1.2.exe';
        downBtn.innerHTML = downBtn.innerHTML.replace(/fa-download/, "fa-windows");
        downBtn.innerHTML += '<span class="download-info">v1.2 for Windows</span>'
      }
      else if (/Linux/.test(platform))
      {
        downBtn.href = '/downloads/#linux';
        downBtn.innerHTML = downBtn.innerHTML.replace(/fa-download/, "fa-linux");
        downBtn.innerHTML += '<span class="download-info">v1.2 for Linux Distributions</span>'
      }
      else if (platform === "MacIntel" || platform === 'MacPPC')
      {
        downBtn.href = 'ftp://ftp.musicbrainz.org/pub/musicbrainz/picard/MusicBrainz-Picard-1.2-x86_64.dmg';
        downBtn.innerHTML = downBtn.innerHTML.replace(/fa-download/, "fa-apple");
        downBtn.innerHTML += '<span class="download-info">v1.2 for OS X 10.7+</span>'
      }
    }) ();
    </script>
{% endblock %}
