#PLUGINS_BUILD_DIR = "/tmp"
#PLUGINS_CACHE_TIMEOUT = 5 * 60
#PLUGIN_VERSIONS = {
#    'v2': '2.0',
#    'v1': '1.0',
#}
#CHANGELOG_URL = "https://raw.githubusercontent.com/musicbrainz/picard/master/NEWS.txt"
#CHANGELOG_CACHE_TIMEOUT = 5 * 60
#
#SUPPORTED_LANGUAGES = [
#    'en',
#    'fr',
#]
#
#SERVER_HOSTNAME = "127.0.0.1"
#SERVER_PORT = 6060