#PLUGINS_BUILD_DIR = "/home/user/.config/PW/plugins"
#PLUGINS_REFRESH_INTERVAL_SECONDS = 12 * 60 * 60
#PLUGINS_CACHE_TIMEOUT = 5 * 60
#PLUGIN_VERSIONS = {
#    'v1': {
#        'title': '1.0',
#        'response': 'The endpoints currently available for this api version' \
#                ' are /api/v1/plugins and /api/v1/download',
#    },
#    'v2': {
#        'title': '2.0',
#        'response': 'The endpoints currently available for this api version' \
#                ' are /api/v2/plugins, /api/v2/download and /api/v2/releases',
#    },
#    'v3': {
#        'title': '3.0',
#        'response': 'The endpoints currently available for this api version' \
#                ' are /api/v3/registry/plugins.toml',
#    },
#}
#
## Download URL for v3 registry file
#PLUGINS_V3_REGISTRY_URL = "https://raw.githubusercontent.com/metabrainz/picard-plugins-registry/refs/heads/main/plugins.toml"
#
## v3 plugins registry cache timeout
#PLUGINS_V3_REGISTRY_CACHE_TIMEOUT_SECONDS = 4 * 60 * 60
#
## v3 plugins registry cache timeout
#PLUGINS_V3_REGISTRY_REQUEST_TIMEOUT_SECONDS = 5
#
## PICARD_VERSIONS dictionary valid keys are: 'stable', 'beta' and 'dev'.
## The 'version' tuple comprises int_major, int_minor, int_micro, str_type and int_development as defined in PEP-440.
## The Picard developers have standardized on using only 'dev' or 'final' as the str_type segment of the version tuple.
#PICARD_VERSIONS = {
#    'stable': {
#        'tag': '2.0.1',
#        'version': ( 2, 0, 1, 'final', 0),
#        'urls': {
#            'download': 'https://picard.musicbrainz.org/',
#            'changelog': 'https://picard.musicbrainz.org/changelog/',
#        }
#    },
#    'beta': {
#        'tag': '2.0.0.beta3',
#        'version': ( 2, 0, 0, 'dev', 6),
#        'urls': {
#            'download': 'https://github.com/metabrainz/picard/releases/tag/2.0.0dev6',
#            'changelog': 'https://github.com/metabrainz/picard/compare/2.0.0dev6...master',
#        }
#    },
#    'dev': {
#        'tag': '2.0.2.dev1',
#        'version': ( 2, 0, 2, 'dev', 1),
#        'urls': {
#            'download': 'https://github.com/metabrainz/picard',
#        }
#    },
#}
#
#DOCS_BASE_URL = "https://picard-docs.musicbrainz.org"
#CHANGELOG_URL = "https://raw.githubusercontent.com/musicbrainz/picard/master/NEWS.md"
#FILESERVER_URL = "https://data.musicbrainz.org/pub/musicbrainz/picard"
#CHANGELOG_CACHE_TIMEOUT = 5 * 60
#
#SUPPORTED_LANGUAGES = [
#    'en',
#    'fr',
#]
#
#SERVER_HOSTNAME = "127.0.0.1"
#SERVER_PORT = 6060
#SCHEDULER_API_ENABLED = True
