{% extends 'base.html' %}
{% set active_page = "404"%}
{% block title %}{{ _("404 Not Found - MusicBrainz Picard") }}{% endblock %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>{{ _("404 - Not Found") }}</h1>
      </div>
    </div>
    <div style="margin-bottom: 255px;" class="container">
        <h4>{{ _("This website is a work in progress, so a lot of stuff does not exist yet.") }}</h4>
        <h4>{{ _("You don't have to worry though, someone is working on fixing things as you're reading this.") }}</h4>
    </div>
{% endblock%}
